body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.main-dev {
    flex-grow: 1;
    color:blueviolet;
    text-align: center;
    margin: 0 auto;
}

h1.main-dev {
    padding-bottom: 3.5vh;
    padding-top: 30vh;
    font-size: 6vw;
}

footer {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    border-top: 1px gray solid;
}

input[type=text] {
    width: 25vw;
    border-radius: 0.5vw;
    padding: 0.5vh;
    border-color: rgb(206, 206, 206);
    border-style: groove;
}

button {
    border-radius: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-color: rgb(206, 206, 206);
    border-style: groove;
}

::placeholder {
    font-style: italic;
    opacity: 0.5;
}

div.links {
    padding: 0.5vh 0;
    flex-grow: 1;
}

a {
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

a:hover {
    background-color: rgb(224, 224, 224);
}

div.createdby{
    align-self: stretch;
    padding: 0.5vh;
}

form {
    margin-bottom: 5vh;
}

p {
    font-size: 2vw;
}

img {
    padding-bottom: 2vh;
}